body {
    background-color: antiquewhite;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}
li {
    list-style-type: none;
    font-size: 24px;
    margin: 10px 0;
}
p {
    font-size: 24px;
    text-align: center;
    color: black
}
